# Ignore node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional package manager files (uncomment if desired)
# package-lock.json
# yarn.lock
# test
# Others
.pnp
.pnp.js
.DS_Store

# Local environment config (generated automatically on npm start)
.env